<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    やりたいことが見つかる、お仕事発見アプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SHIGOTOYELLについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SHIGOTOYELL利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SHIGOTOYELLを見る</h2>
      <ul>
        <li><%= link_to 'jobs一覧', "#", class: "footer-link" %></li>
        <li><%# link_to 'ブランド一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>SHIGOTOYELLについて</h2>
      <ul>
        <li><%= link_to 'SHIGOTOYELLガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'SHIGOTOYELLロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("logo.png", class:"logo-white"), "#" %>
  <p>© SHIGOTOYELL</p>
</div>