<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo.png", class:"logo-icon"), "/" %>
    
  </div>
  <div class='nav'>
    
    <ul class='lists-users'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_session, class: "user-nickname" %></li> 
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %> 
      <div class="users-list">仕事をお探しの方
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </div>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% end %>
    </ul>
    <ul class='lists-users'>
      <% if company_signed_in? %>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <li><%= link_to current_company.company_name, company_session_path, class: "user-nickname" %></li> 
      <li><%= link_to 'ログアウト', destroy_company_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
      <div class="users-list">事業主の方
      <li><%= link_to 'ログイン',  new_company_session_path, class: "login" %></li>
      <li><%= link_to '新規登録',  new_company_registration_path, class: "sign-up" %></li>
      </div>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% end %>
    </ul>
  </div>
</header>